<% include ../partials/header%>

<div class="ui three column stackable grid">
    <%if (testimonials.length < 1){ %>
        <div class="column sixteen wide">
                <h1 class="ui huge center aligned header"> All up to date! </h1>
                <img class= "ui huge centered image" src="https://images.unsplash.com/photo-1516600164266-f3b8166ae679?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
                <%} %>
        </div>


<% testimonials.forEach((testimonial, index)=>{ %>
    <div class="column">      
            <div class="ui cards">
              <div class="card card-height">
                <div class="image">
                  <img class="image-height" src="<%=images[index%images.length]%>">
                </div>
                <div class="content">
                  <div class="description  description-height">
                    <%=testimonial.text%>
                  </div>
                </div>
                <div class="extra extra-height content">
                  <span class="right floated">
                    <%=testimonial.relationship%>
                  </span>
                  <span>
                    <i class="user icon"></i>
                    <%=testimonial.name%>
                  </span>
                </div>
                
                <div class="extra extra-height content buttons">
                    <form id="approve" action="/approvetestimonial/<%=testimonial._id%>/?_method=PUT" method="POST">
                    <button class="ui small basic teal button"><i class="pencil icon"></i>Approve</button>
                  </form> 
                    <form id="delete" action="/testimonials/<%= testimonial._id %>?_method=DELETE"
                        method="post">
                      <button class="ui small basic orange button"><i class="trash icon"></i>Delete</button>
                    </form> 
                </div>
              </div>
            </div>
          </a>
        </div>
        <%})%>       

    </div>








<% include ../partials/footer%>
</div>
