<% include ../partials/header %>
<div class="container">
<h1 class="ui huge center aligned header">Roster</h1>
<hr>
<% users.forEach((user)=> {%>
    <div class="ui attached segment userpage">
   <strong><h2><%=user.firstname%> <%=user.lastname%></h2></strong> 
    <p><%=user.email%></p>
    <p>Joined: <%=user._id.getTimestamp().toString().substring(0,15)%></p>
    <div class="ui small image">   
         <img src="<%=user.avatar%>" alt="">
    </div>
    <div class="content">
       &nbsp;&nbsp;&nbsp;&nbsp;      <a href="/users/<%=user._id%>" class="ui button basic blue">view profile</a>
    </div>
</div>

    <%})%>
</div>
<% include ../partials/footer %>