<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/hamburger.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src ="/scripts/vcitaconfig.js"></script>
    <script src="/stylesheets/hamburger.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Finlay Piano Studio: </title>
<script src="scripts/header.js"></script>
<link rel="icon" href="images/piano.png" type="image/x-icon">

<body class="site">
    <div class="container">
        <div class="navbar-container">
            <div class="ui secondary menu stackable">
                <a href="/">
                    <img id="logo" src="/images/logo.png" alt="couldn't find image">

                </a>

                <a class="item" href="/">
                    Home
                </a>
                <a class="item mobile tablet hidden" href="/approach">
                    Approach
                </a>
                <a class="item  mobile tablet hidden" href="/technology">
                    Technology
                </a>
                <a class="item mobile tablet " href="/testimonials">
                    Testimonials
                </a>
                <a class="item" href="/contact">
                    Contact
                </a>
                <div class="ui secondary menu right">

                    <% if (!currentUser){%>
                <div class="ui buttons">
                        <a class="item mobile hidden" href="/login">
                            <a href="login" class="login ui button mobile hidden item"><i class="sign-in icon"></i>Sign in</a>
                        </a>
                        <a href="/login" class="item mobile only"><i class="sign-in icon"></i>Sign in</a>
                      
                            <a href="/register" class="ui button mobile hidden register item"><i class="user plus icon"></i>Register</a>
               
                </div>

                    <%}else{%>
                   

                    <div class="ui dropdown item mobile hidden">

                        <a href="" id="dropdown">
                            <img src="<%=currentUser.avatar%>" alt=""
                                class="ui avatar image"><%=currentUser.username%><%if (currentUser.isAdmin){%> (admin) <%}%>
                     </a>
                
                     

                        <div class="menu">
                            <div class="item">
                                    <%if (currentUser.isAdmin){%> <a href="/users" class="item"><i
                                    class="users icon"></i>Users</a><%}%> 
                            </div>
                            <div class="item">
                                    <a class="item" href="/profile"><i class="user outline icon"></i>View Profile</a>
                                </div>
                            <div class="item">
                                <a  class="item" href="/logout"><i class="sign-out icon"></i>Logout</a>
                            </div>    
                    </div>
                </div>  
       

                <% } %>                   

             
                    </div>

                   
                   <% if (!currentUser){ %>

                    <div class="hamburger">
                        <span class="hamburger-bun"></span>
                        <span class="hamburger-patty"></span>
                        <span class="hamburger-bun"></span>
                    </div>
                    <%}%>

                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="ui one column grid">
                <div class="column">
                        <% if (!currentUser){%>
                    <a href="https://live.vcita.com/site/en27y7hjp0zhboyr/online-scheduling?staff=ngxwhe1u43agj3x8"
                        target="blank" class="ui large black button livesite-schedule" id="schedule-button"
                        data-staff="ngxwhe1u43agj3x8">
                        <i class="clock outline icon"></i>
                        Request Free Lesson
                    </a>
                
                  
                    </div>
                    <div class="ui buttons mobile only" id="mobile-signin">
                            <a href="/login" class="ui large button login mobile only" >
                                <i class="sign-in icon"></i>
                                Sign in
                            </a>
                            <div class="or"></div>
                            <a href="/register" class="ui large button register mobile only" >
                                <i class="user plus icon"></i>
                                Register
                            </a>

                    </div>


                    <%} else {%>
                        
                        <div class="ui dropdown item mobile only">

                                <a href=""  class="ui large basic black button mobile only">
                                    <img src="<%=currentUser.avatar%>" alt=""
                                        class="ui avatar image"><%=currentUser.username%><%if (currentUser.isAdmin){%> (admin) <%}%>
                             </a>
                        
                             
        
                                <div class="ui vertical menu">
                                    <div class="item">
                                            <%if (currentUser.isAdmin){%> <a href="/users" class="item"><i
                                            class="users icon"></i>Users</a><%}%> 
                                    </div>
                                    <div class="item">
                                            <a class="item" href="/profile"><i class="user outline icon"></i>View Profile</a>
                                        </div>
                                    <div class="item">
                                        <a href="/" class="item"><i class="home icon"></i>Home</a>
                                    </div>
                                    <div class="item">
                                        <a href="/approach" class="item"><i class="user outline icon"></i>Approach</a>
                                    </div>
                                    <div class="item">
                                        <a href="/testimonials" class="item"><i class="comments outline icon"></i>Testimonials</a>
                                    </div>
                                    <div class="item">
                                        <a href="/technology" class="item"><i class="tablet alternate icon"></i>Technology</a>
                                    </div>
                                    <div class="item">
                                        <a href="/contact" class="item"><i class="phone icon"></i>Contact</a>
                                    </div>
                                
                                    <div class="item">
                                        <a  class="item" href="/logout"><i class="sign-out icon"></i>Logout</a>
                                    </div>    
                            </div>
                    </div>  
                </div>
                    <%}%>
                

        </div>


        <% if(error&& error.length > 0){%>
                    <div class="ui negative message" id="error">
                        <i class="close icon"></i>
                        <%= error %></div>

                    <%}%>

        <% if(success&& success.length > 0){%>
                    <div class="ui positive message" id="success">
                        <i class="close icon"></i>
                        <%= success %></div>
                    <%}%>
   