<% include ../partials/header.ejs %>

<br>
<h1 class="ui huge center aligned header"><i class="comments outline icon"></i>Testimonial by <%=testimonial.name%>
</h1>


<br>
<div>

    <div class="ui one column centered stackable grid">

                <div id="show-card"class="ui card card-height">
                    <div class="image">
                        
                        <img class="image-height" src="<%=images[Math.floor(Math.random() * (7 - 0 + 1) + 0)];%>">
                    </div>
                    <div class="content">
                        <div class="description left aligned description-height">
                            <%=testimonial.text%>
                        </div>
                    </div>
                    <div class="extra left aligned extra-height content">
                        <span class="right floated">
                            <%=testimonial.relationship%>

                        </span>
                        <span>
                            <i class="user icon"></i>
                            <%=testimonial.name%>

                        </span>
                    </div>
                    <div class="extra extra-height content">

                        <span class="buttons">
                            <a href="/testimonials" class="ui small blue button">Back</a>
                            <a href="/testimonials/<%=testimonial._id%>/edit" class="ui small yellow button">Edit</a>

                            <form id="delete" action="/testimonials/<%= testimonial._id %>?_method=DELETE"
                                method="post">
                                <button class="ui small red button">Delete</button>
                            </form>
                        </span>
                </div>

            </form>
        </div>

    </div>




</div>










​






<% include ../partials/footer.ejs %>