<% include ../partials/header.ejs %>
<h1 class="ui huge center aligned header"><i class="comments outline icon"></i>
  Testimonials</h1>
<h1 class="ui huge center aligned header"><a class="ui large black basic  button" href="/testimonials/new">Add new
    testimonial</a></h1>

    <br>
<hr>
<br>
<div>


  <div class="ui three column stackable grid">
    <%testimonials.forEach((testimonial, index)=>{%>
    <div class="column">
        <%if (currentUser){ %>

      <a href="/testimonials/<%=testimonial._id%>">
          <%}%>
        <div class="ui  cards">
          <div class="card card-height">
            <div class="image">
              <img class="image-height" src="<%=images[index%images.length]%>">
            </div>
            <div class="content">
              <div class="description  description-height">
                <%=testimonial.text%>
              </div>
            </div>
            <div class="extra extra-height content">
              <span class="right floated">
                <%=testimonial.relationship%>
              </span>
              <span>
                <i class="user icon"></i>
                <%=testimonial.name%>
              </span>
            </div>
            <%if (currentUser && currentUser.isAdmin){ %>
            
            <div class="extra extra-height content buttons">
                <!-- <a href="/testimonials/<%=testimonial._id%>/edit" class="ui small basic teal button"><i class="pencil alternate icon"></i>Edit</a> -->
                <form id="delete" action="/testimonials/<%=testimonial._id%>/edit" method="get">
                <button class="ui small basic teal button"><i class="pencil icon"></i>Edit</button>
              </form> 
                <form id="delete" action="/testimonials/<%= testimonial._id %>?_method=DELETE"
                    method="post">
                  <button class="ui small basic orange button"><i class="trash icon"></i>Delete</button>
                </form> 
            </div>
                <%}%>       
          </div>
        </div>
      </a>
    </div>
    <%})%>
  </div>
</div>










​






<% include ../partials/footer.ejs %>